body{
font-family: Arial;
margin:0;
background:#f3f3f3;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#222;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

header{
background:linear-gradient(to right,#1c92d2,#f2fcfe);
color:white;
padding:80px;
text-align:center;
}

section{
background:white;
margin:30px;
padding:30px;
border-radius:12px;
}

.cards{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
gap:20px;
}

.card{
background:#f7f7f7;
padding:20px;
text-align:center;
border-radius:10px;
font-size:18px;
}

.card i{
font-size:40px;
margin-bottom:10px;
color:#1c92d2;
}

.project{
background:#f7f7f7;
padding:20px;
border-radius:10px;
}

#contact a{
color:#1c92d2;
}
